<div class="board-frame">
  <div class="board">
    <ng-container *ngFor="let reticle of collections.reticles">
      <div class="movement-reticle"
      *ngIf="reticle.isActive"
      [style.top]="(reticle.parentSquare.position.x * findSqaureSideLength() + 4) + 'px'"
      [style.left]="(reticle.parentSquare.position.y * findSqaureSideLength() + 4) + 'px'"
      [style.width]="findSqaureSideLength() + 'px'" 
      [style.height]="findSqaureSideLength() + 'px'"
      [ngClass]="{
        'movement':(reticle.type == 1),
        'attack':(reticle.type == 2),
        'active':(reticle.type == 3)     
      }"
      (click)="reticleClicked(reticle)"
      ></div>
    </ng-container>

    <div class="chess-piece" 
    [style.top]="(piece.currentSquare.position.x * findSqaureSideLength() + 4) + 'px'"
    [style.left]="(piece.currentSquare.position.y * findSqaureSideLength() + 4) + 'px'"
    [style.width]="findSqaureSideLength() + 'px'" 
    [style.height]="findSqaureSideLength() + 'px'"
    *ngFor="let piece of collections.pieces"
    (click)="pieceClicked(piece)"
    >
    <img [src]="piece.imagePath" />
    </div>

    <div *ngFor="let row of collections.squares" class="row">
      <div [ngClass]="{'black':(square.color == 'black')}" (click)="sqaureClicked(square)" class="square" *ngFor="let square of row">
      </div>
    </div>
  <div>
</div>