.board-frame{
    height: 550px;
    width:550px;
    padding:4px;
    background:#281e08;
    border: 20px solid #392A0B;
    border-radius: 8px;
    position: relative;
    font-size:0;
}

.board{
    height: 100%;
    width: 100%;
    background:#281e08;
    font-size:0;
    padding:4px;
    border: 5px dashed #6B6559;
    box-sizing: border-box;
    position: relative;
}

.chess-piece{
    position: absolute;
    z-index:5;
    box-sizing: border-box;
    font-size:0;
    padding:8px;
}

.movement-reticle{
    position: absolute;
    opacity:0.8;
    z-index:6;
    box-sizing: border-box;
    font-size:0;
}

.movement-reticle.movement{
    border: 5px solid #0393b7;
    -moz-box-shadow:    inset 0 0 8px #0393b7;
    -webkit-box-shadow: inset 0 0 8px #0393b7;
    box-shadow:         inset 0 0 8px #0393b7;
}

.movement-reticle.attack{
    border: 5px solid #e84f20;
    -moz-box-shadow:    inset 0 0 8px #e84f20;
    -webkit-box-shadow: inset 0 0 8px #e84f20;
    box-shadow:         inset 0 0 8px #e84f20;
}

.movement-reticle.active{
    border: 5px solid #94ff6d;
    -moz-box-shadow:    inset 0 0 8px #94ff6d;
    -webkit-box-shadow: inset 0 0 8px #94ff6d;
    box-shadow:         inset 0 0 8px #94ff6d;
}

.row{
    width:100%;
    height:12.5%;
    display: block;
    position: relative;
}

.square{
    background:#ECDDBD;
    width:12.5%;
    height:100%;
    display: inline-block;
    position: relative;
    color:black;
    font-size:15px;
    text-align: center;
}

.black{
    background:#604E33;
}