/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "chessIcons";
    src: url('/assets/fonts/cheq.ttf') format('truetype');
}
body {
    font-family: "chessIcons";
}